@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 15px;
}
body{
  background-color: #f5f5f5;
}

.app{
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.header{
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0.1rem 0.1rem rgb(0, 128, 128);
}

.logo{
  align-items: stretch;
}

.logo img{
  height: 3rem;
  object-fit: cover;
}
.navbar{
  display: flex;
  gap: 1rem;
}

.navbar a{
  color: black;
  text-decoration: none;
}

.navbar a.active{
  color: #00e4c7;
  font-weight: bold;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.button {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 2.5rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  color: #000;
  background-image: linear-gradient(to left, #98DE5B, #08E1AE 74%);
  transition: transform 300ms;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 300ms;
}

.hero_section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  padding: 0 5rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  padding: 1rem 1rem;
  gap: 0.5rem;
  background-color: white;
  transition: 250ms ease-out;
}

.product_image {
  height: 9rem;
  width: 9rem;
  object-fit: contain;
}

.product:hover{
  box-shadow: 0 0 0.4rem #00e4c7;
  transition: 250ms ease-out;
}

.product_title{
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.4rem;
  font-weight: 550;
  align-self: stretch;
  min-width: 0;
}

.product_category {
  font-size: 0.8rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  color: #e1ad01;
  font-weight: bold;
}

.dollar {
  font-size: 1.5rem;
}

.rating{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.fa-star{
  color: rgb(255, 191, 0);
}

.fa-user{
  color: darkblue;
}

.edit_button{
  padding: 0.8rem 1rem;
  border: 1px solid teal;
  outline: none;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform 300ms ease-out;
  background-color: whitesmoke;
  cursor: pointer;
}

.edit_button:hover{
  box-shadow: 0 0 0.2rem teal;
}

.card_end{
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background: white;
  box-shadow: 0 -0.1rem 0.1rem rgb(0, 128, 128);
}

.add_form{
  align-self: center;
}

.error{
  align-self: center;
}

@media (max-width: 500px) {

  .hero_section {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {

  .hero_section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    padding: 0 1rem;
  }
}